@using WebApp_Tabelle_2024_03_05.Models
@model Artikel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="de">
<head>
    <title>title</title>
</head>
<body>
<div>
    <h2>@Model.Bezeichnung</h2>
</div>
</body>

</html>